# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3.bak
staticfiles/
*.log
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
android/build/
android/debug.keystore
android/lib/android.jar
