{% extends 'include/base.html' %}
{% block title %}Merry Christmas{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center
            bg-danger bg-gradient text-white">

    <div class="container text-center py-5">
        <div class="mb-4">
            <i class="fa-solid fa-snowflake fs-1 mx-2"></i>
            <i class="fa-solid fa-candy-cane fs-1 mx-2"></i>
            <i class="fa-solid fa-gift fs-1 mx-2"></i>
            <i class="fa-solid fa-snowman fs-1 mx-2"></i>
        </div>
        
        <h1 class="display-4 fw-bold">
            Merry Christmas
        </h1>

        <p class="lead mt-3">
            May your holidays be filled with joy, love, and warmth.
        </p>
        
        <div class="mt-4">
            <a href="#" class="btn btn-light btn-lg me-2">
                <i class="fa-solid fa-bell"></i> Celebrate
            </a>
            <a href="#" class="btn btn-outline-light btn-lg">
                <i class="fa-solid fa-star"></i> Cheers
            </a>
        </div>
    </div>

</div>
{% endblock %}