<footer class="bg-dark text-center text-white mt-auto py-3">
  <div class="container">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">Instagram</a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">Telegram</a>
    </section>
    <section class="mb-4">
      <p>Branding by Lingesh waran Design • Powered by TheMealDB</p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a style="text-decoration: none;" class="text-white" href="https://TheMealDB.com">TheMealDB.com</a>
  </div>
</footer>
